<!DOCTYPE html>
<html class="h-full">
<head>
  <title>RailsService</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>

<body class="flex items-center justify-center w-full h-full bg-black">
  <%= yield %>
</body>
</html>
